/* 
   Global Style sheet, add any styles here that should be applied 
   accross multiple components.                                 
*/

/* Set height of the grid so sidebar can be 100% (adjust as needed) */
.row.content {
    height: 639px; 
    overflow: hidden;
}

body { 
  padding-top: 50px; 
}

/* Remove Twitter Bootstrap rounded corners on all elements */
* {
  border-radius: 0 !important;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 1.07em;
    }
    .row.content {height:auto;} 
}

/* Set select boxes to be light gray when invalid */
select:invalid { 
    color: lightslategray; 
}

/* Angular set custom green and red when filling out a form */
input.ng-valid.form-control  {
  border-left: 5px solid #42A948;  /* green */
}

input.ng-dirty.ng-invalid.form-control {
  border-left: 5px solid #a94442;  /* red */
}

/* Make it so alerts don't change position of form inputs */
.alert {
  margin-top: 15px;
  position: absolute;
  float: left;
}

/* ###### Bootstrap Tables ###### */
table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

thead th {
    background-color: #000000;
    color: white;
}
/* ###### [/ Bootstrap Tables] ###### */

/* ###### Google Inputs ###### */
.group {
  position:relative;
  margin-bottom:45px;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus {
  outline:none;
}

label {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar {
  position:relative;
  display:block;
  width:270px;
}

.bar:before, .bar:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}
/* ###### [/ Google Inputs] ###### */