/* 
   Global Style sheet, add any styles here that should be applied 
   accross multiple components.                                 
*/
   
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 589px; 
    overflow: hidden;
}

/* Remove Twitter Bootstrap rounded corners on all elements */
* {
  border-radius: 0 !important;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 1.07em;
    }
    .row.content {height:auto;} 
}

/* Set select boxes to be light gray when invalid */
select:invalid { 
    color: lightslategray; 
}

/* Angular set custom green and red when filling out a form */
input.ng-valid  {
  border-left: 5px solid #42A948;  /* green */
}

input.ng-dirty.ng-invalid {
  border-left: 5px solid #a94442;  /* red */
}

/* Make it so alerts don't change position of form inputs */
.alert {
  margin-top: 15px;
  position: absolute;
  float: left;
}

/* Custom Bootstrap table styling */
table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

thead th {
    background-color: #068B8A;
    color: white;
}
/* End Bootstrap table styling */