<nav class="navbar navbar-default navbar-fixed-top nav-main-wrapper">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand navbar-link" href="#"><strong>Nova</strong></a>
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>
            <li *ngIf="loggedIn" routerLinkActive="active"><a routerLink="/forum">Forum</a></li>
            <li *ngIf="loggedIn" routerLinkActive="active"><a routerLink="/play">Play</a></li>
          </ul>
          <ul *ngIf="!loggedIn" class="nav navbar-nav navbar-right">
            <li routerLinkActive="active"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li routerLinkActive="active"><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          </ul>
          <ul *ngIf="loggedIn" class="nav navbar-nav navbar-right">
            <li routerLinkActive="active"><a routerLink="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li routerLinkActive="active"><a href="#" (click)="logout($event)"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
         </ul>
      </div>
  </div>
</nav>