<div class="register-dark row content">
  <form (ngSubmit)="register()" *ngIf="active" [formGroup]="registerForm" novalidate>
    <h2 class="sr-only">Register Form</h2>
    <div class="form-group row centered">
      <div *ngIf="formErrors.top" class="col-lg-10 col-lg-offset-10 alert alert-info" [innerHTML]="formErrors.top"></div>
    </div>
    <div class="form-group row">
      <div class="illustration"><i class="icon ion-person"></i></div>
    </div>
    <div class="form-group row">
      <div class="group">      
        <input [(ngModel)]="user.username" name="username" type="text" class="form-control" formControlName="username" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Display Name</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="group">      
        <input [(ngModel)]="user.email" name="email" type="text" class="form-control" formControlName="email" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="email">Email Address</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="group">      
        <input validateEqual="confirm_password" [(ngModel)]="user.password" name="password" type="password" 
                class="form-control" formControlName="password" reverse="true" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="group">      
        <input validateEqual="password" [(ngModel)]="confirm_password" name="confirm_password" type="password" 
                class="form-control" formControlName="confirm_password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="confirm_password">Confirm Password</label>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="registerForm.invalid">Register</button>
    </div>
    <a routerLink="/login" class="forgot">Already have an account?</a>
  </form>
</div>