<div class="jumbotron hero">
    <div class="container">
        <div class="row content">
            <div class="col-md-5 col-md-push-8 phone-preview">
                <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
                    <div class="screen"></div>
                </div>
            </div>
            <div class="col-md-7 col-md-pull-4 get-it">
                <h1>Nova Web Consulting</h1>
                <p>Simplified Web Development services for all types of websites. Submit tickets and add custom features, no coding required!</p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-apple"></i> View Services</a>
                    <a class="btn btn-success btn-lg" role="button" routerLink="/register"><i class="fa fa-google"></i> Sign Up (Free)</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- spacer section -->
<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span6 alignright flyLeft">
                <blockquote class="large">
                    There's huge space beetween creativity and imagination <cite>Mark Simmons, Nett Media</cite>
                </blockquote>
            </div>
            <div class="span6 aligncenter flyRight">
                <i class="icon-coffee icon-10x"></i>
            </div>
        </div>
    </div>
</section>