<div class="jumbotron hero">
    <div class="container">
        <div class="row content">
            <div class="col-md-5 col-md-push-8 phone-preview">
                <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
                    <div class="screen"></div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-3 get-it">
                <h1>Welcome</h1>
                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-apple"></i> Available on the App Store</a><a class="btn btn-success btn-lg" role="button" href="#"><i class="fa fa-google"></i> Available on Google Play</a></p>
            </div>
        </div>
    </div>
</div>