<div class="jumbotron hero">
    <div class="container">
        <div class="row content">
            <div class="col-md-5 col-md-push-8 phone-preview">
                <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
                    <div class="screen"></div>
                </div>
            </div>
            <div class="col-md-7 col-md-pull-4 get-it">
                <h1>Nova Web Consulting</h1>
                <p>Simplified Web Development services for all types of websites. Submit tickets and add custom features, no coding required!</p>
                <p>
                    <a pageScroll href="#services" class="btn btn-primary btn-lg btn-orange" role="button"><i class="fa fa-apple"></i> View Services</a>
                    <a class="btn btn-success btn-lg" role="button" routerLink="/register"><i class="fa fa-google"></i> Sign Up (Free)</a>
                </p>
            </div>
        </div>
    </div>
</div>
<section id="services" class="section orange">
    <div class="container">
        <h4>Services</h4>
        <div class="row">
            <div class="col-xs-4">
                <div class="service-box">
                    <img src="../../assets/img/icons/laptop.png" alt="" />
                    <h2>Web design</h2>
                    <p>Choose from a template or let us start from scratch. All websites are fully customizable.</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="service-box">
                    <img src="../../assets/img/icons/api.png" alt="" />
                    <h2>API Integration</h2>
                    <p>Integrate external services into your application. Ask for an API suggestion from one of our experienced developers.</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="service-box">
                    <img src="../../assets/img/icons/lab.png" alt="" />
                    <h2>Web development</h2>
                    <p>We use the latest technologies to create responsive websites. You specify the requirements and we bring your creation to life.</p>
                </div>
            </div>
        </div>
    </div>
</section>